.Project .project-wrapper {
  width: 75%;

}

.Project img {
  max-width: 300px;
  max-height: 400px;
  background-size: contain;

  /*position: relative;*/
}
/*
.project, .overlay {
  width: 100%;
  height: auto;
  background-size: contain;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}*/
