.Project {

}

.project-background {
  position: relative;
  background-color: grey;
}

.Project img {
  max-width: 200px;
  max-height: 400px;
  background-size: contain;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.project-description {
  display: none;
  position: absolute;
  background-color: white;
  opacity: 0.8;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.project-hover:hover {
  display: block;
}
