.Home .portfolio {
  display: flex;
  align-content: center;
  justify-content: center;
}

.Home .portfolio-wrapper {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(200px, 200px);
}

.one.hoverbox {
  position: relative;
}

.one.hoverbox:hover .text{
  display: block;
}

.one {
  background-color: blue;
  background-image: url("/images/CSS_grid.png");
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: span 2;
  grid-row: span 2;
}

.text {
  display: none;
  position: absolute;
  background-color: white;
  height: 92%;
  width: 92%;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto
}

.text h1 {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* .two {
  background-color: blue;
  background-image: url("/images/tictail_example_shop.png");
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: span 2;
  grid-row: span 2;
}

.two.hoverbox {
  position: relative;
}

.two.hoverbox:hover .text{
  display: block;
}

.three.hoverbox {
  position: relative;
}

.three.hoverbox:hover .text{
  display: block;
}

.three {
  background-color: blue;
  background-image: url("/images/FAQ.png");
  background-size: contain;
  background-repeat: no-repeat;
  grid-column: span 2;
  grid-row: span 2;
}

.four.hoverbox {
  position: relative;
}

.four.hoverbox:hover .text{
  display: block;
}

.four {
  background-color: blue;
  background-image: url("/images/clock.png");
  background-size: contain;
  background-repeat: no-repeat;
  grid-column: span 2;
  grid-row: span 2;
}

.five.hoverbox {
  position: relative;
}

.five.hoverbox:hover .text{
  display: block;
}

.five {
  background-color: blue;
  background-image: url("/images/radio.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  grid-column: span 2;
  grid-row: span 2;
}

@media (max-width: 620px) {

  .Home .portfolio-wrapper {
    grid-column: 1;
    grid-rows: auto;
  }
} */
