.Home {
  box-sizing: border-box;
}

.Home .portfolio {
  width: 100%;
  padding: 20px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.Home .portfolio-wrapper {
  height: auto;
  display: grid;
  grid-template-columns: 150px 150px 150px 150px;
  grid-template-rows: 150px 150px 150px;
  grid-gap: 20px;
}

.one.hoverbox {
  position: relative;
}

.one.hoverbox:hover .text{
  display: block;
}

.one {
  background-image: url("/images/CSS_grid.png");
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: span 4;
  grid-row: span 2;
}

.text {
  display: none;
  position: absolute;
  background-color: white;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.text h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.two {
  background-color: blue;
  background-image: url("/images/tictail_example_shop.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.three {
  background-color: blue;
  background-image: url("/images/FAQ.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.four {
  background-color: blue;
  background-image: url("/images/clock.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.five {
  background-color: blue;
  background-image: url("/images/radio.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.six {
  background-color: blue;
}

.tall {
  grid-row: span 2;
}

.wide {
  grid-column: span 2;
}


@media (max-width: 320px) {

  .portfolio {
    width: 75%;
    flex-direction: column;
  }
}
