.Navigation a {
  display: flex;
  text-decoration: none;
  text-transform: uppercase;
  justify-content: flex-end;
  align-items: flex-end;
}

 .nav-one {

}

 .nav-two {

}

.one, .two, .three, .four {
  margin: 0 40px 0 40px;
}
