
.navigation {
  display: flex;
  width: 100%;
  height: auto;
}

.navigation a {
  color: black;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
}

.bar {
  width: 25px;
  height: 4px;
  background-color: #343239;
  margin: 0px 0 4px 20px;
}

.mobile-menu li {
  text-decoration: none;
  padding: 0 10px 10px 10px;
  list-style: none;
}

.mobile-menu {
  margin: 0 auto auto 55px;
  opacity: 0;
  display: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  position: absolute;
}

.hamburger-checkbox {
  display: none;
}

.hamburger-checkbox:checked + .hamburger-mobile .bar-one {
  transform: rotate(-45deg) translate(-6px, 5px);
  transition: all 0.6s ease-in-out;
}

.hamburger-checkbox:checked + .hamburger-mobile .bar-two {
  opacity: 0;
}

.hamburger-checkbox:checked + .hamburger-mobile .bar-three {
  transform: rotate(45deg) translate(-5px, -5px);
  transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
}

.hamburger-checkbox:checked ~ .mobile-menu {
   opacity: 1;
   transition: opacity .8s ease-in-out;
   -moz-transition: opacity .8s ease-in-out;
   -webkit-transition: opacity .8s ease-in-out;
}

label {
  margin: 0;
}


@media (max-width: 620px) {
    .mobile-menu {
      flex-direction: row;
      line-height: 1;
    }
    .navigation {
      width: 80%;
      margin-right: 0;
    }
   }
