
.navigation {
  display: flex;
  width: 100%;
  height: auto;
}

.navigation a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
}

.mobile-menu {
  display: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  width: 75%;
  position: absolute;
  top: -100%;
  transition: all 0.9s ease-in-out;
}

.mobile-menu li {
  text-decoration: none;
  padding: 10px;
  margin-top: 0;
  list-style: none;
}

.hamburger-mobile {
  width: 75px;
  height: 75px;
  display: block;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.hamburger-checkbox {
  display: none;
}

.hamburger-checkbox:checked + .hamburger-mobile .bar-one {
  transform: rotate(-45deg) translate(-6px, 5px);
}

.hamburger-checkbox:checked + .hamburger-mobile .bar-two {
  opacity: 0;
}

.hamburger-checkbox:checked + .hamburger-mobile .bar-three {
  transform: rotate(45deg) translate(-5px, -5px) ;
}

.hamburger-checkbox:checked ~ .mobile-menu {
  top: 0;
  margin-top: 40px;
}

.bar {
  width: 25px;
  height: 4px;
  background-color: black;
  margin: 0 0 3px 5px;
}


/*
.bar-one {
  background: #fff;
  width: 35px;
  height: 5px;
  position: absolute;
  top: 47px;
  right: 0;
  bottom: 0;
  left: 20px;
  z-index: 1;
}

.bar-two {
  background: #fff;
  width: 35px;
  height: 5px;
  top: 35px;
  left: 20px;
  position: absolute ;
  z-index: 1;
  }

.bar-three {
  background: #fff;
  width: 35px;
  height: 5px;
  top: 23px;
  left: 20px;
  position: absolute;
  z-index: 1;
} */
