.Home .header {
  background: #f03d33;
  height: auto;
  width: 100%;
  padding: 20px 0 20px 0;
}

.Home .header h1 {
  color: #fff;
  font-size: 5em;
  font-weight: bolder;
}

/*Animation for header title*/

.header .title-one {
  position: relative;
  transform: translateX(25%);
  animation-name: slide-one;
  animation-duration: 4s;
  animation-iteration-count: 1;
  transition-timing-function: ease-in-out;
}

@keyframes slide-one {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(25%);
  }
}

.header .title-two {
  position: relative;
  transform: translateX(25%);
  animation-name: slide-two;
  animation-duration: 4s;
  animation-iteration-count: 1;
  transition-timing-function: ease-in-out;
}

@keyframes slide-two {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(25%);
  }
}

.Home .social-icons {
  display: flex;
  background-size: contain;
  justify-content: flex-end;
  align-content: flex-end;
  margin: auto 50px 5px auto;
}

.Home .github img {
  height: 40px;
  width: 40px;
  background-size: contain;
}

.Home .linkedin img {
  height: 40px;
  width: 40px;
  background-size: contain;
  margin-left: 40px;
  margin-right: 25px;
}


.Home .portfolio-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.Home .portfolio-container-one {
  width: 30%;
  height: auto;
  margin: 30px;
}

.Home .portfolio-container-two {
  width: 40%;
  height: auto;
  margin: 30px;
}

.Home .portfolio-container-three {
  width: 40%;
  height: auto;
  margin: 30px;
}

.home, .portfolio-container-four {
  width: 30%;
  height: auto;
  margin: 30px;
}
