.Home .portfolio-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.Home .portfolio-container-one {
  width: 30%;
  height: auto;
  margin: 30px;
}

.Home .portfolio-container-two {
  width: 40%;
  height: auto;
  margin: 30px;
}

.Home .portfolio-container-three {
  width: 40%;
  height: auto;
  margin: 30px;
}

.home, .portfolio-container-four {
  width: 30%;
  height: auto;
  margin: 30px;
}
