/*CSS for Footer component*/

.Footer {
  background: #343239;
  padding: 100px;
  width: auto;
}

.Footer p {
  color: #fff;
}

.Footer a {
  color: #fff;
  margin: 5px 0 5px 0;
}

.Footer h4 {
  color: #fff;
  margin-top: 0;
}

.Footer .contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.social-icons {
  display: flex;
  background-size: contain;
  align-items: center;
}

.github img {
  margin: 10px 10px 5px 10px;
  height: 40px;
  width: 40px;
  background-size: contain;
}

.linkedin img {
  margin: 10px 10px 5px 10px;
  height: 40px;
  width: 40px;
  background-size: contain;
}

@media (max-width: 620px) {
    .contact {
      flex-direction: column;
      text-align: center;
    }
    .Footer {
      padding: 30px auto 30px auto;
    }
   }
