
.project-view-container header {
  height: 100px;
  width: auto;
  padding: 40px 0 40px 25px;
}

.project-view-wrapper {
  align-content: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 200px;
}

.project-view-description {
  color: #fff;
  margin-right: 25px;
  padding: 25px 10px 10px 25px;
  background-color: #fff;
  height: 400px;
  width: 30%;
}

.image-box {
  height: 400px;
  width: 40%;
  background-color: #e3e1e3;
}

.project-view-image {
  height: 400px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #e3e1e3;
}

h1 {
  color: #f03d33;
}
p {
  color: #343239;
}
h4 {
  color: #343239;
  margin-top: 5px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.github-logo {
  margin: 10px;
  height: 40px;
  width: 40px;
}

@media (max-width: 620px) {

  .project-view-container,
   header,
  .project-view-wrapper,
  .project-view-image,
  .image-box {
    width: 100%;
    flex-direction: column;
    margin: 0;
  }
  .project-view-description {
    padding: 30px;
    width: 80%;
    height: 50%;
  }
  .project-view-container header {
    height: 50px;
  }
}
