.about-container {
  height: 100px;
  width: auto;
  padding: 40px 0 40px 25px;
}

.about-wrapper {
  display: flex;
  align-content: center;
  justify-content: center;
  height: auto;
  width: 100%;
  margin: auto auto 100px auto;
}

.about-description {
  height: 500px;
  width: 300px;
  margin-right: 20px;
  padding: 10px;
}

header {
  height: 100px;
  width: 100%;
}

.img-wrapper {
  position: relative;
  height: 500px;
  width: 400px;
  background-color: #e3e1e3;
}

.portrait {
  position: absolute;
  height: 400px;
  width: auto;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
