.about-container {
  height: 100px;
  width: 100%;
  padding: 40px 0 40px 25px;
}

.about-wrapper {
  display: flex;
  align-content: center;
  justify-content: center;
  height: auto;
  width: 100%;
  margin: auto auto 100px auto;
}

.about-description {
  height: auto;
  width: 300px;
  margin-left: 20px;
  padding: 20px;
}

.About header {
  height: 100px;
  width: 100%;
}

.img-wrapper {
  position: relative;
  height: 500px;
  width: 400px;
  background-color: #e3e1e3;
}

.portrait {
  position: absolute;
  width: 400px;
  height: auto;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cv {
  margin: 10px;
  height: 40px;
  width: 40px;
}

@media (max-width: 620px) {
  .about-container,
  .about-header,
  .about-wrapper,
  .img-wrapper,
  .portrait,
  footer {
    width: 100%;
    flex-direction: column;
    margin: 0;
  }
  .about-container {
    padding: 0;
  }
  .about-description {
    margin: 0;
    padding: 30px 0 0 30px;
  }
  .about-header {
    padding: 30px 0 0 10px;
    height: 50px;
    width: 100%;
  }
  h1 {
    font-size: 21px;
  }
}
