.header {
  background-image: url("/images/plant.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 500px;
  width: auto;
  padding: 40px 0 40px 25px;
}

.logo {
  opacity: 1;
  height: 400px;
  width: 60%;
  background-image: url("/images/ceciliawong.png");
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 3;
  top: 18%;
  left: 10%;
  -webkit-animation: logo 2s ease-in;
  -moz-animation: logo 2s ease-in;
  -o-animation: logo 2s ease-in;

}

@keyframes logo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 320px) {
  .logo {
    top: 28%;
    width: 75%;
    height: 20%;
  }
  .header {

  }
}
