.header {
  background-image: url("/images/plant.jpeg");
  object-position: center;
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  width: 100%;
  padding: 20px 0 20px 0;
}

.header h1 {
  color: #fff;
  font-size: 5em;
  font-weight: bolder;
  margin-left: 100px;
}

/*Animation for header title*/
/*
.header .title-one {
  position: relative;
  transform: translateX(25%);
  animation-name: slide-one;
  animation-duration: 4s;
  animation-iteration-count: 1;
  transition-timing-function: ease-in-out;
}

@keyframes slide-one {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(25%);
  }
}

.header .title-two {
  position: relative;
  transform: translateX(25%);
  animation-name: slide-two;
  animation-duration: 4s;
  animation-iteration-count: 1;
  transition-timing-function: ease-in-out;
}

@keyframes slide-two {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(25%);
  }
} */

.social-icons {
  display: flex;
  background-size: contain;
  justify-content: flex-end;
  align-content: flex-end;
  margin: auto 50px 5px auto;
}

.github img {
  height: 40px;
  width: 40px;
  background-size: contain;
}

.linkedin img {
  height: 40px;
  width: 40px;
  background-size: contain;
  margin-left: 40px;
  margin-right: 25px;
}
