.header {
  background-image: url("./leaf.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 500px;
  width: 100%;
  padding: 40px 0 40px 25px;
}

.logo {
  opacity: 1;
  height: 300px;
  width: 60%;
  background-image: url("/images/ceciliawong.png");
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 3;
  top: 18%;
  left: 10%;
  -webkit-animation: logo 2s ease-in;
  -moz-animation: logo 2s ease-in;
  -o-animation: logo 2s ease-in;

}

@keyframes logo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 620px) {
  .logo {
    top: 30%;
    width: 80%;
    height: 50%;
  }
  .header {
    height: 200px;
    width: 100%;
  }
}
