
.navigation {
  display: flex;
  width: 100%;
  height: auto;
}

.navigation a {
  color: black;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
}

.bar {
  width: 25px;
  height: 4px;
  background-color: black;
  margin: 0px 0 3px 20px;
}

.mobile-checkbox {
  display: none;
}

.mobile-menu {
  margin: 0 auto auto 55px;
  opacity: 0;
  display: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  position: absolute;
}


.mobile-menu li {
  text-decoration: none;
  padding: 0 10px 10px 10px;
  list-style: none;
}
